scroll-containerd {
    margin: 0 auto;
    
  }

  scroll-containerd {
    display: flex;
    flex-direction: column-reverse;
    width: 55%;
    height: 55vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  scroll-paged {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-size: 5em;
    width: 50rem;
    margin-top: 8px;
}
/* Tamaño del scroll */
scroll-containerd::-webkit-scrollbar{
  width: 10px;
}

 /* Estilos barra (thumb) de scroll */
scroll-containerd::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 7px;
  border-right: #ffffff;
  border-style:groove;
}

scroll-containerd::-webkit-scrollbar-thumb:active {
  background-color: green;
}

scroll-containerd::-webkit-scrollbar-thumb:hover {
  background: blue;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
 scroll-containerd::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
} 

scroll-containerd::-webkit-scroll-page-track:hover, 
scroll-containerd::-webkit-scroll-page-track:active {
  background: #d4d4d4;
} 

