.wrapper {
    display: flex;
    position: relative;
    /* margin: auto; */
    margin-top: 60px;
    margin-bottom: 50px;
    background-color: #fff;
  }
  .wrapper ul {
    list-style-type: none;
  }
  
  /* ------------------------------ */
  /* una vez que se responde a un mensaje... */
  .wrapper .responde .box {
    position: relative;
    display: flex;
    text-align: left;
    /* flex-direction: row; */
    width: 74rem;
    height: auto;
    background-color: #fff;
    margin: auto;
    list-style-type: none;
    top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 4px -4px rgb(230,230,230);
      -moz-box-shadow: 0 8px 4px -4px rgb(230,230,230);
      box-shadow: 0 8px 4px -4px rgb(230,230,230);
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }
  .wrapper .responde .box img {
  
    position: absolute;
    width: 90px;
    border-radius: 100%;
    height: 95px;
    border: 2px solid #1e88e5;
  }
  .wrapper .responde .box .head {
    height: 53px;
    width: 95%;
    border-bottom: 1px solid grey;
  }
  .wrapper .responde .box h5 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-right: 224px;
    font-weight: 400;
    color: rgb(16,2,2);
    
    position: relative;
    top: 5px;
  }
  .wrapper .responde .box a {
    text-align: center;
    position: relative;
    font-size: 9px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    top: -80px;
   margin-right: 224px;
  }
  .wrapper .responde article {
    position: relative;
    margin: auto;
    width: 100%;
    height: 55%;
    margin-left: 115px;
    margin-top: -5px;
  }
  .wrapper .responde article p {
    width:98%;
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .wrapper ul .responde .opciones {
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    height: 95px;
  }
  .wrapper ul .responde .opciones:hover {
    width: 350px;
  }
  /* Línea que separa los mensajes */
  .wrapper ul .responde .linea {
    position: absolute;
    display: flex;
    width: 5px;
    height: 20px;
    left: 40px;
    margin: auto;
    top: -20px;
    background-color: rgba(122,122,122,0.477);
}

.cont {
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
}

.bt {
  display: flex;
  margin-bottom: 10px;
}
