.content{
    background-color: #0b132b !important;
    color:  white !important;
}

.contentItems{
    background-color: #0b132b !important;
    color:  white !important;
}

/*
.contentForm{
    
    
}*/

.form {
    border: 1px solid rgba(196, 196, 196, 0.911);
    margin: 0 auto;
    max-width: 90%;
    max-height: 75vh !important;
    overflow-y: scroll;
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
    box-shadow: 0 10px 15px -5px rgba(0 0 0 / 50%);
    text-align: center;
    margin-bottom: 2em;
    background-color: white !important;
    margin-left: 1%;
    margin-right: 1%;
    color: #0b132b !important ;
}

.form::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */  /* Ocultar scroll */
}

.form::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.form::-webkit-scrollbar-thumb:hover {
    background: gray;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.form::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.containerInputs {
    display: grid;
    gap: 2em;
}

.input {
    width: 90%;
    font-size: 15px;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    /* box-shadow: 20px 20px 60px #c5c5c5,
            -20px -20px 60px #ffffff; */
    transition: 0.3s;
}

.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
            inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.btn {
    --color: #0b132b;
    /* --color2: rgb(10, 25, 30); */
    border-color: #0b132b;
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 1rem;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: white;
    background-color: #dedfe2 ;
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

.red{
    color: red;
}

.btnpassword{
    border: none;
    background-color: transparent;
    color: skyblue;
}