.fondo{
    background-color: #0b132b !important;
}

.margin{
    margin: 1%;
}
.inputSearch{
    border: solid 1px white;
}

.searchBtn{
    color: white !important;
}

.linkBtn{
    text-decoration: none;
    color: white;
}