.content{
    display: block;
    background: #f8f8f9!important;
    color: #0b132b !important;
}
.rating{
    
    background:#5aa01c!important;
    color: white!important;
}

.year{
    background: #5aa01c!important;
    color: white !important;
    
}
.red{
    background: #5aa01c!important;
    color: white !important;
}
.redH{
    background: #f8f8f9!important;
    color: #0b132b !important;
}

.redH:hover{
    background: white !important;
    color: black !important;
}