.content{
    display: block;
    background:red !important;
    color: white !important;
}
.rating{
    background:red !important;
    color: white !important;
}

.year{
    background:red !important;
    color: white !important;
}
.red{
    background: red !important;
    color: white !important;
}
.redH{
    background: red !important;
    color: white !important;
}

.redH:hover{
    background: white !important;
    color: black !important;
}