.content {
    text-align: center;
    margin-top: 1rem;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

.btn {
    margin-left: 25px;
    margin-right: 25px;
}

.textareaForm{
    width: 452px; 
    height: 107px;
    font-size: 15px;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
}

.com {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
}