.gridContainer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 90px;
    background-color: rgb(244, 244, 244);
    height: 350px;
    display: grid;
    padding: 4%;
    grid-template-columns: 10% 10% 10% 10%;
    grid-row: 10% 10% 10% 10%;
    grid-column-gap:70px;
    grid-row-gap: 15px; /*espaciado*/
    justify-content:center;
    
  
    
}

.item1{
  background-color:rgb(244, 244, 244);
  justify-content:center;
  align-items: center;

}

.img1{
    position:absolute;
    background-image: url("../img/user.png");
    background-size: cover;
    width: 90px;
    height: 90px;
    align-self: center;
    justify-self: center;
    margin-left: 0.7%;    
}

.item2{
  background-color: rgb(244, 244, 244);
}

.img2{
  position:absolute;
  background-image: url("../img/quitar.png");
  background-size: cover;
  width: 90px;
  height: 90px;
  align-self: center;
  justify-self: center;
  margin-left: 0.7%;    
}


.item3{
  background-color: rgb(244, 244, 244);
}

.img3{
  position:absolute;
  background-image: url("../img/film.png");
  background-size: cover;
  width: 90px;
  height: 90px;
  align-self: center;
  justify-self: center;
  margin-left: 0.7%;
  margin-top: 0.7%;    
}

.item4{
  background-color: rgb(244, 244, 244);
}

.img4{
  position:absolute;
  background-image: url("../img/editar.png");
  background-size: cover;
  width: 90px;
  height: 90px;
  align-self: center;
  justify-self: center;
  margin-left: 0.7%;    
}

.img5{
  position:absolute;
  background-image: url("../img/carro.png");
  background-size: cover;
  width: 90px;
  height: 90px;
  align-self: center;
  justify-self: center;
  margin-left: 0.7%;    
}

.item5{
  background-color: rgb(244, 244, 244);
}

.item6{
  background-color: rgb(244, 244, 244);
  
}

.item7{
  background-color: rgb(244, 244, 244);
}

.item8{
  background-color: rgb(244, 244, 244);
}





.title1{
	height: 10vh;
  position:relative;
  width: 100vw;
  background-color: rgb(244, 244, 244);
	display: flex;
	align-items: center;
	justify-content: center;
}


.butt{
    
    color: #4185bc;
    outline: none;
    font-size: 20px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    
    
    
}

.icon{
  width: 3.5vh;
  height: 3.5vh;
  

}

.row{
  background-color: #7ebbec;
  
}

.icon2{
  width: 4vh;
  height: 4vh;
  

}

.home{    
  text-decoration: none;
	display:flex;
  position: relative;
	align-items: center;
	right: 40%;
}

.home1{    
  text-decoration: none;
	display:flex;
  position: relative;
	align-items: center;
	left:30%;
}

.span1{
	font-size: 25px;
  color: #17254f;
	justify-content: center;
  font-weight: bold;
	

}

.card2{
  width: 100%;
  height: 70vh;
  background-color: rgb(244, 244, 244);
  display: flex;
  margin: 70px 35px 200px 2px; /* Top, Right, Bottom, Left */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.card2 cardGradient {
  background-color: #3784c2;
  background-image: linear-gradient(135deg, #5aa01c 0%, #d6d6d6 100%);
  height: 12vh;
  width: 100%;
  /* border-radius: 12px 12px 0px 0px; */ /* Top Left, Top Right, Bottom Right, Bottom Left*/
  border-radius: 0px 0px 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 25px;
  object-fit: cover;
  flex-grow: auto;
}



.cardContainer{
    width: 60vw;
    height: 50vh;
    background-color: rgb(244, 242, 242);
    border-radius: 6px;
    display: flex;
    margin: 35px 70px 5px 250px; /* Top, Right, Bottom, Left */
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-shadow: #f7f7f7 0px 1px 10px;
  }

  .cell{

    color: #5aa01c;
   
    font-size: 18px;

  }

  .cardContainer2{
    width: 70vw;
    height: 60vh;
    background-color: rgb(244, 242, 242);
    border-radius: 6px;
    display: flex;
    margin: 60px 70px 5px 280px; /* Top, Right, Bottom, Left */
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-shadow: #f7f7f7 0px 1px 10px;
  }
  .btnClear{
   
    padding: 3px 9px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-style: none;
    flex-direction: row;
    left: 10px;
    color: #5aa01c;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    

  }
  
  .cardCon{
    width: 10vw;
    position:relative;
    height: 6vh;
    display:grid;
    grid-column: auto auto;
    
    border-radius: 6px;
    display: flex;
    margin: 40px 5px 10px 150px; /* Top, Right, Bottom, Left */
    align-items: center;
    justify-content: space-between;
    
  }


  .statsCard {
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding: 5px 5px;
  }

  .stats {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 280px;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    
  }

  .button{
    display:flex;
    padding: 3px 9px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-style: none;
    flex-direction: row;
    left: 10px;
    color: #5aa01c;
    background: none;
    
    

  }

  .usersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4px;
    height: 350px;
    display: grid;
    padding: 1%;
    grid-template-columns: auto auto auto;
    grid-column-gap: 9px;
    grid-row-gap: 20px;
    justify-content: space-evenly;
    align-items: stretch; 
    
  
  
  }

  
.navhome_ul {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navhome_ul li {
  margin: 15px;
 
}


.containerM{
 
  width: 80%;
  height: 80%;
  margin: 30px 5px 0 150px;/* Top, Right, Bottom, Left */
}

.containerU{

  display: flex;
  background-color: #f9f9f9;
  position: relative;
  padding: 0% 10%  10% 10%;
  flex-wrap: wrap;
  width: 120%;
  height: 10%;
  margin: 30px 5px 0 20px;
}

.trash{
    border-style: none;
    color: #0A58CA;
    background-color: white;

}

.barra{
  background-color: #7ebbec;
}

.search{
  display: flex;
  margin-left: 15%;
  justify-content: center;
}

.filter{
  display: flex;
  position:relative;
  margin-left: 80%;
  
}

.sort{
  padding-right: 5%;
  
}

.refresh{
  margin-top: 8%;
  font-size: 40px;
  text-align: center;
}

.Reload{

  display: flex;

  padding: 3px 9px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 700px;
  border-style: none;
  flex-direction: row;
  color: #0A58CA;
  text-decoration: none;
  outline: none;
  font-size: 18px;

}

.Change{
  color: #0A58CA;
  text-decoration: none;
  outline: none;
  font-size: 15px;
  border-style: none;

}


