.container_grid{
    padding: 50px 10px 7px 70px;
    
}

.fondo{
  background-image: linear-gradient(to bottom, #e9ebee, #ebedef, #eceef0, #eef0f1, #f0f1f2);
}

.header_home{
    position: relative;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: #070b19;
    color: #5aa01c;
    
  }

  .btnBuy{
    
    background-color: #5aa01c;
    border-radius: 3px;
    border: 0px solid #5aa01c;
    box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 10px 0.8em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;

  }

  .btnBuy:hover {
    color: white;
    background-color: #0b132b;
  }

  .text{
  
	display: flex;
	justify-content:center;
	align-items: center;
	     
  }

  h4:before {
	content: '';
	animation: changingTxt 5s linear infinite;
}

@keyframes changingTxt {
	0% {
		content: 'The best movies of';
	}
	20% {
		content: 'Prime Video, Netflix';
	}
	40% {
		content: 'Paramaout, Amazon';
	}
	60% {
		content: 'Disney+, HBOMax';
	}
	80% {
		content: ' -- No Subscription --';
	}
	100% {
		content: 'The best movies of';
	}
}


.footer {
    background-color: #0b132b;
    font-size: 14px;
    width: 100%;
    height: 50px;
    margin-top: auto; 
    text-align: center;
    left: 70%; 
    font-weight: bold;
    color: white ;
  }

  .title{
    
	height: 50px;
    background-color: #0b132b;
	display: flex;
	align-items: center;
	justify-content: center;
}

.span{
	font-size: 30px;
    color: white;
	justify-content: center;
	

}

.ubButton{
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
  border-radius: 15px;
	
}
.ubButton:hover {
  box-shadow: 0 0 10px #c7d117, 0 0 5px #5ad31e, 0 0 15px #05f331;
  transition-delay: 0s;
 }

 .ubButton span {
  position: absolute;
 }

 .ubButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #5ad31e);
 }

 .ubButton:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }

 .ubButton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #05f331);
 }

 .ubButton:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }


 .ubButton:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }

 .ubButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }

 .ubButton:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }

 .ubButton:active {
  background: #fff;
  background: linear-gradient(to top right, #c7d117, 0 0 5px #5ad31e, 0 0 15px #05f331);
  color: #bfbfbf;
  box-shadow: 0 0 5px #c7d117, 0 0 5px #5ad31e, 0 0 15px #05f331;
  transition: 0.1s;
 }

 .ubButton:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }

.card{
	  width: 60vw;
    height: 50vh;
    background-color: rgb(244, 244, 244);
    border-radius: 12px;
    display: flex;
    margin: 30px 35px 60px 100px; /* Top, Right, Bottom, Left */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #5aa01c 0px 5px 15px;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  /*.card cardGradient {
    background-color: #3784c2;
    background-image: linear-gradient(135deg, #c7183b 0%, #d6d6d6 100%);
    height: 12vh;
    width: 100%;
    border-radius: 12px 12px 0px 0px; */ /* Top Left, Top Right, Bottom Right, Bottom Left
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    z-index: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 25px;
    object-fit: cover;
    flex-grow: auto;
  }
  */
  
  .uniqueHome {
    /* display: flex; */
    /* border: 1px solid black; */
    width: 50%;
    text-align: center;
    margin-top: 2em;
    margin-left: 10em;
    font-size: 20px;
  }
  .panelAdmin {
    background-color: #152146;
    font-size: 14px;
    width: 100%;
    height: 50px;
    margin-top: auto; 
    text-align: center;
    left: 70%; 
    font-weight: bold;
    color: white ;
  }

  .ubicacionB{
    display: flex;
  }

  .movieBtn {
    background-image: url("../img/user.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position:relative;
    left: 0%;
    transition: transform 0.7s ease-in-out;
  }

  .userBtn {
    background-image: url("../img/peli.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position:relative;
    left: 150%;
  
    transition: transform 0.7s ease-in-out;
  }

  
  .card2{
    width: 100%;
    height: 50vh;
    background-color: rgb(244, 244, 244);
    display: flex;
    margin: 30px 35px 200px 2px; /* Top, Right, Bottom, Left */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }

  .card2 cardGradient {
    background-color: #3784c2;
    background-image: linear-gradient(135deg, #5aa01c 0%, #d6d6d6 100%);
    height: 12vh;
    width: 100%;
    /* border-radius: 12px 12px 0px 0px; */ /* Top Left, Top Right, Bottom Right, Bottom Left*/
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    z-index: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 25px;
    object-fit: cover;
    flex-grow: auto;
  }

  
@-webkit-keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  .btn1 {
    background-color: #5aa01c;
    border-radius: 3px;
    border: 0px solid #5aa01c;
    box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 10px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .BtnMovie:hover,
  .BtnMovie:focus {
    background-color: black;
    color: white;
  }
  
  .BtnMovie:focus {
    box-shadow: 0 0 0 1px #5aa01c;
  }
  
  .BtnMovie:active {
    background-color: #5aa01c;
    box-shadow: none;
    color: #5aa01c;
  }
  

  .btn2 {
    background-color: #5aa01c;
    border-radius: 3px;
    border: 0px solid #5aa01c;
    text-decoration: none;
    text-decoration-line: none;
    box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 10px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .BtnMovie:hover,
  .BtnMovie:focus {
    background-color: black;
    color: white;
  }
  
  .BtnMovie:focus {
    box-shadow: 0 0 0 1px #5aa01c;
  }
  
  .BtnMovie:active {
    background-color: #5aa01c;
    box-shadow: none;
    color: #5aa01c;
  }


  .grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    
    padding: 3% 30%;
    justify-content: center;
    
    margin: 0 auto;
  }

  .caja{
    width: 180px;
    height: 180px;
    padding: 30% 30% 40% 5%;
  
    
    
  }

  .containerUser{
    width: 40vw;
    height: 100%;
    background-color: rgb(244, 244, 244);
    border-radius: 12px;
    display: flex;
    margin: 10px 20px 60px 250px; /* Top, Right, Bottom, Left */
    flex-direction:column;
    align-items: center;
    justify-content: center;

  }


  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    align-items: center;
    padding: 5px 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  

  /*Footer*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.piePagina{
    width: 100%;
    background-color: #0a141d;
}
.piePagina .grupo1{
    width: 100%;
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.piePagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.piePagina .grupo1 .box figure img{
    width: 80px;
    height: 80px;
 
    
}
.piePagina .grupo1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.piePagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.piePagina .grupo1 .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.piePagina .grupo1 .redSocial a:hover{
    color: aqua;
}
.piePagina .grupo2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.piePagina .grupo2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .piePagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.containerU{
  background-color: #3784c2;
}

  
.link{
  text-decoration: none;
}